body {
    margin: 0 auto;
    padding: 0 auto;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: auto;
    width: 350px;
}

header {
    font-weight: bold;
}
nav {
    border-color: black;
    border-bottom: 2px solid;
    padding: 16px;
    background-color: orangered;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins:wght@100&family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.has-color-dark-olive-green {
    color: darkolivegreen
}

.has-color-white {
    color: white;
}

.has-color-green-text {
    color: green;
}

.has-color-light-green {
    background-color: lightgreen;
}

footer {
    position: static;
    padding: 30px;
}


/* footer {
    position:static
    padding: 30px;
    left: 0;
    right: 0;
    bottom: 0;
} */

#content {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);

}

tr:nth-child(even):not(.disabled) {
    background-color: lightgrey;
}

.margin-top {
    margin-top: 0;
}
